.bgfood{
    background-image: url("../image/index/bgimg.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-color: #000000;
    background-repeat: no-repeat;

}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 250px;
    height: 250px;
    font-size: 40px;
    line-height: 1.33;
    border-radius: 125px;
    margin: 20px;
}
.btn-food{
    color: #cc8800;
    background-color: #ffffcc;
    border-color: #ffcc66;
}.btn-drink{
    color: #003366;
    background-color: #4da6ff;
    border-color: #0066cc;
}.btn-dessert{
    color: #1f1f14;
    background-color: #999966;
    border-color: #5c5c3d;
}
.btn-food:hover{
    color: #cc8800;
    background-color: #ffcc66;
    border-color: #ffcc66;
}.btn-drink:hover{
     color: #003366;
     background-color: #0066cc;
     border-color: #0066cc;
 }.btn-dessert:hover{
      color: #1f1f14;
      background-color: #5c5c3d;
      border-color: #5c5c3d;
  }